<mat-toolbar color="primary">
	<span class="title">Andre Portfolio</span>
</mat-toolbar>

<div class="container-fluid">
  <div class="container">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-6">
				<h1>Heading</h1>
				<p> <span class="lead" >Lorem ipsum</span>, dolor sit amet consectetur adipisicing elit. Consequatur, veniam. Sequi, deleniti nulla exercitationem obcaecati
					consequuntur illum pariatur inventore asperiores, dicta illo eius, qui voluptas labore. Sint asperiores reiciendis tenetur.</p>
			</div>
			<div class="col-md-2"> <button class="margin-all margin-top float-left" mat-raised-button color="primary">Bacon</button></div>

		</div>

		<div class="row">
			<div class="col-md-6">
        <button mat-raised-button color="primary" class="margin-all margin-top float-right" >Bacon</button>
        </div>
			<div class="col-md-6">
        <h2>Heading</h2>
        <p><span class="lead">Bacon Ipsum </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, incidunt rem numquam quod at corporis delectus, non nisi qui, eaque dolor iste dolores beatae. Deserunt at sit ut natus voluptates.</p>
        </div>
		</div>
	</div>
  </div>
</div>