
<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="card-title">Force</mat-card-title>

    </mat-card-header>

    <mat-card-content>
     <button mat-raised-button="" color="primary">Force</button>
     <button mat-raised-button="" color="primary">Mass</button>
     <button mat-raised-button="" color="primary">Acceleration</button>

        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Force">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mass">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Acceleration">
          </mat-form-field>


        </div>

      <div>
        <span class="card-title">Force : ...... N</span>
      </div>


    </mat-card-content>

    <mat-card-actions class="card-actions-wrapper">
      <button mat-raised-button="" color="primary" class="float-right">Remove</button>
      <button mat-raised-button="" color="primary" class="float-right">Calculate</button>

    </mat-card-actions>
  </mat-card>

</div>
